@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">En god låneaffär</h1>
    <p>Ja för mig i alla fall</p>
    <p>
<img src="~/images/Harry.jpg" /></p>
</div>
